html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------------------*/

html {
	scroll-behavior: smooth;
}

body {
  font-family: "YakuHanJPs", 'MyYuGothicM', "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.header-in {
	position: fixed;
	display: flex;
	justify-content: space-between;
	top:0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 70px;
	line-height: 70px;
	background-color: rgba(255,255,255,1);
	border-bottom: 1px #e8e8e8 solid;
	transition: all 1s;
	box-sizing: border-box;
	padding: 0 30px 0 50px;
}

.header-in-add {
	background-color: rgba(245,245,245,1);
}

.header-logo {
	font-size: 2.4rem;
	font-weight: normal;
	color: #606060;
}


.header-list ul {
	display: flex;
}

.header-list li{
	text-align: center;
	margin: 0 20px;
}

.header-list a{
	font-size: 1.0rem;
	color: black;
	line-height: 70px;
	text-decoration: none;
	white-space: nowrap;
}

.header-list a:hover {
	opacity: 0.6;
}

.header-main {
	width: 100%;
	height: 100vh;
	position: relative;
}

.header-main h2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
	z-index: 1;
	font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
	font-size: 3rem;
	letter-spacing: 8px;
	color: #ffffff;
	white-space: nowrap;
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
}

#slide{
	width: 100%;
	height: 100%;
	position:relative;
}
#slide .img{
	position:absolute;
	width: 100%;
	height: 100%;
	left:0;
	top:0;
}

.img1 {
	width: 100%;
	height: 100%;
	background-image: url(https://www.pakutaso.com/shared/img/thumb/CSK_rainbowb_TP_V.jpg);
	background-position: center;
	background-size: cover;
}
.img2 {
	width: 100%;
	height: 100%;
	background-image: url(https://www.pakutaso.com/shared/img/thumb/aozora0729IMGL8767_TP_V.jpg);
	background-position: center;
	background-size: cover;
}
.img3 {
	width: 100%;
	height: 100%;
	background-image: url(https://www.pakutaso.com/shared/img/thumb/002YAT191208A_TP_V.jpg);
	background-position: center;
	background-size: cover;
}

.news {
	width: 100%;
	text-align: center;
	margin: 100px 0;
}

.news h2 {
	color: rgb(30, 48, 84);
	font-size: 2.5rem;
	margin-bottom: 80px;
	white-space: nowrap;
}
.news-content{
	display: inline-block;
	padding-bottom: 10px;
	border-bottom: 1px #e0e0e0 solid;
	margin-bottom: 20px;
}

.news span {
	color: #ffffff;
	background-color: #9f9f9f;
	font-size: 0.8rem;
	padding: 5px 10px;
	margin: 0 20px;
}

.news-more {
	cursor: default;
	display: inline-block;
	margin: 40px 0;
	padding: 10px 35px;
	color: #3a3a3a;
	border: 2px #3a3a3a solid;
	border-radius: 30px;
	transition: all .5s;
}

.news-more:hover {
	color: white;
	background-color: #303030;
}

.section1 {
	background-image: url(https://www.pakutaso.com/shared/img/thumb/PEI_yurikamome_TP_V.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 500px;
	position: relative;
	margin: 100px 0;
}

.section1-container {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
}

.section1-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.section1-content h2 {
	color: white;
	font-size: 2.5rem;
	margin-bottom: 30%;
	white-space: nowrap;
}

.section1-content p{
	cursor: default;
	display: inline-block;
	color: white;
	font-size: 1.2rem;
	padding: 15px 40px;
	border: 1px white solid;
	transition: all 1s;
}

.section1-content p:hover {
	color: black;
	background-color: white;
}

.section2 {
	width: 100%;
	text-align: center;
	margin: 100px 0;
}

.section2 h2 {
	color: rgb(30, 48, 84);
	font-size: 2.5rem;
	margin-bottom: 80px;
	white-space: nowrap;
}

.section2-container {
	width: 100%;
	padding: 0 50px;
	box-sizing: border-box;
	background-color: #f7f7f7;
}

.section2-items {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.section2-item {
	box-sizing: border-box;
	width: 25%;
	padding: 20px;
	background-color: white;
	text-align: left;
}

.section2-item:hover {
	opacity: 0.8;
}

.section2-item img {
	width: 100%;
}

.section2-item h3{
	padding: 0px 0px 0px 10px;
	font-size: 1.1rem;
}


.section2-item p{
	padding: 10px;
	font-size: 0.8rem;
}

.contact {
	text-align: center;
	margin: 80px 0;
	color: rgb(30, 48, 84);
}

.contact h2 {
	font-size: 2.0rem;
	margin-bottom: 80px;
	white-space: nowrap;
}

.contact-container {
	display: flex;
	justify-content: space-between;
	padding: 0 80px;
}

.contact-left {
	width: 50%;
	box-sizing: border-box;
	padding: 0 10%;
}

.contact-right {
	width: 50%;
	box-sizing: border-box;
	padding: 0 10%;
}

.contact-right input{
	width: 100%;
	height: 30px;
	margin-bottom: 15px;
	border: none;
	border: solid 1px rgb(30, 48, 84);
	outline: none;
}

.contact-right textarea{
	width: 100%;
	height: 150px;
	margin-bottom: 15px;
	border: solid 1px rgb(30, 48, 84);
	outline: none;
}

footer {
	width: 100%;
	height: 200px;
	background-color: #919191;
}

@media screen and (max-width: 1025px) {
	.header-logo {
		left: 2%;
		font-size: 2rem;
	}
}

@media screen and (max-width: 767px){
	.header-in {
		display: unset;
	}
	.header-logo {
		font-size: 1.2rem;
		white-space: nowrap;
		display: none;
	}
	.header-list ul{
		justify-content: space-between;
	}
	.header-list li{
		margin: 0;
	}
	.header-list a {
		font-size: 1.0rem;
	}
	.header-main h2 {
	font-size: 1.6rem;
	letter-spacing: 4px;
	color: #ffffff;
	}
	.news-content {
		font-size: 0.6rem;
	}
	.news-content span {
		font-size: 0.5rem
	}
	.section2-container {
		padding: 0;
	}
	.section2-item {
		width: 90%;
		margin: 20px auto;
		padding: 0;
	}
	.contact-container {
		flex-direction: column;
		padding: 0;
	}
	.contact-left {
		width: 100%;
	}
	.contact-right {
		width: 100%;
		margin-top: 100px;
	}
}
